{% extends 'base.html.twig' %}
{% block body %}

<div class="container">   
  <table class="table table-striped">
  <!--- NOMBRES DE LAS COLUMNAS DE LA TABLA -->
  <thead>
   <tr>
   <th>#</th>
   <th>{% trans %}NOMBRE DEL TEMA{%endtrans%}</th>
   <th>{% trans %}MIRAR ARTICULOS DEL TEMA{%endtrans%}</th>
   </tr>
  </thead>

  <!--- VALORES DE LA TABLA -->
    <tbody>
      <tr>
      {% for tema in tema %}
        <td>{{tema.id}}</td>
        <td>{{tema.title|trans}}</td>
        <td><a href="/es/temas/{{tema.id}}" class="btn btn-success">{% trans %}ENTRAR{%endtrans%}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}